<div class="search">
  <form #forms="ngForm" (submit)="onSubmit()">
  <input type="text" placeholder="Search City..." name="city" [(ngModel)]="cityName">
</form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-container">
    <img class="image-upper" src="../assets/cold.jpg" *ngIf="weatherData.main.temp<15" >
    <img class="image-upper" src="../assets/sunny.jpg" *ngIf="weatherData.main.temp>15">
    <div class="weather-data">
      <div class="location">{{weatherData.name}}</div>
      <div class="temperature_main">{{weatherData.main.temp| number: '1.0-0' }}°C</div>
    </div>
  </div>
  <div class="lower-container">
    <p>
      More information:
    </p>
    <div class="additional">
    <div class="min-max">
      <div class="min ">
        <img src="../assets/temperature.png" alt="minimum-temperature">
        <div class="temperature">
          <p>{{weatherData.main.temp_min}}°C</p>
          </div>
      </div>
      <div class="max ">
        <img src="../assets/thermometer.png" alt="max-temperature-icon">
        <p class="temperature">{{weatherData.main.temp_max}}°C</p>
      </div>
    </div>
    <div class="hum-wind">
      <div class="humidity ">
        <img src="../assets/humidity.png" alt="humidity_icon">
        <p class="temperature">{{weatherData.main.humidity}}%</p>
      </div>
      <div class="wind ">
        <img src="../assets/wind.png" alt="wind_icon">
        <p class="temperature">{{weatherData.wind.speed}}km/hr</p>
      </div>
    </div>
    </div>
    </div>
    

</div>
<router-outlet></router-outlet>